@model List<ProductViewModel>

<div class="row">
    @await Html.PartialAsync("AdminLeftMenu")

    <div class="col-9">
        <div class="row">
            <h3>Список товаров</h3>
        </div>

        <a asp-area="Admin"
           asp-controller="Product"
           asp-action="Add">Добавить новый товар</a>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Cost</td>
                        <td><a 
                               asp-area="Admin"
                               asp-controller="Product"
                               asp-action="Edit"
                               asp-route-productId="@Model[i].Id"
                               >Редактировать</a></td>
                        <td><a 
                               asp-area="Admin"
                               asp-controller="Product"
                               asp-action="Remove"
                               asp-route-productId="@Model[i].Id"
                               >Удалить</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

