@model OrderViewModel

<form method="post">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Дата и время</td>
                    <td>@Model.CreateDateTime.ToString("g")</td>
                </tr>
                <tr>
                    <td>Адрес доставки</td>
                    <td>@Model.User.UserAdress</td>
                </tr>
                <tr>
                    <td>Получатель</td>
                    <td>@Model.User.UserName</td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>@Model.User.UserPhone</td>
                </tr>
                <tr>
                    <td>Сумма заказа</td>
                    <td>@Model.Cost</td>
                </tr>
                <tr>
                    <td>Статус заказа</td>
                    <td>
                        <select asp-for="@Model.Status"
                                asp-items="@Html.GetEnumSelectList<OrderStatusViewModel>()"
                                class="form-control">
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="Order" asp-action="UpdateOrderStatus" asp-route-orderId="@Model.Id">Сохранить</button>
</form>