@model Cart
@{
    ViewData["Title"] = "Корзина";
}

@if(Model == null || Model.Items.Count == 0)
{
    <h3>Корзина пуста</h3>
}
else
{
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Цена, руб</th>
                    <th>Количество</th>
                    <th>Стоимость, руб</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Cost</td>
                        <td>@item.Amount</td>
                        <td>@item.Cost</td>
                        <td>
                            <a class="btn btn-success" href="/cart/add?productId=@item.Product.Id" role="button">+</a>
                            <a class="btn btn-info" href="/cart/decreaseAmount?productId=@item.Product.Id" role="button">-</a>
                            <a class="btn btn-danger" href="/cart/delItem?productId=@item.Product.Id" role="button">Del</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-right">
            <h4>Итого: @Model.Cost</h4>
        </div>
        <div class="text-center">
            <a class="btn btn-success" href="/home/index" role="button">Продолжить покупки</a>
            <a class="btn btn-primary" href="#" role="button">Оформить заказ</a>            
            <a class="btn btn-danger" href="/cart/clearCart" role="button">Очистить корзину</a>
        </div>
    </div>
</div>
}

