@model CartViewModel
@{
    ViewData["Title"] = "Корзина";
}

@if(Model == null || Model.Items.Count == 0)
{
    <h3>Корзина пуста</h3>
}
else
{
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Цена, руб</th>
                    <th>Количество</th>
                    <th>Стоимость, руб</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Cost</td>
                        <td>@item.Amount</td>
                        <td>@item.Cost</td>
                        <td>
                            <a class="btn btn-success" 
                               asp-area=""
                               asp-controller="Cart"
                               asp-action="Add"
                               asp-route-productId="@item.Product.Id"
                               role="button">+</a>
                            <a class="btn btn-info" 
                               asp-area=""
                               asp-controller="Cart"
                               asp-action="DecreaseAmount"
                               asp-route-productId="@item.Product.Id"
                               role="button">-</a>
                            <a class="btn btn-danger" 
                               asp-area=""
                               asp-controller="Cart"
                               asp-action="DelItem"
                               asp-route-productId="@item.Product.Id"
                               role="button">Del</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-right">
            <h4>Итого: @Model.Cost</h4>
        </div>
        <div class="text-center">
            <a class="btn btn-success" 
               asp-area=""
               asp-controller="Home"
               asp-action="Index"                               
               role="button">Продолжить покупки</a>
            <a class="btn btn-primary" 
               asp-area=""
               asp-controller="Order"
               asp-action="Index"                               
               role="button">Оформить заказ</a>            
            <a class="btn btn-danger"  
               asp-area=""
               asp-controller="Cart"
               asp-action="ClearCart"                               
               role="button">Очистить корзину</a>
        </div>
    </div>
</div>
}

